@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}
body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
