@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 20% 98%;
    --foreground: 0 0% 10%;
  }
}
body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
